.questionnaire-card {
  width: 250px;
  max-height: 250px;
  margin: 10px;
  transition: transform 0.2s;
  text-decoration: none;

  &.popup {
    width: auto;
    max-height: auto;
  }

  .questionnaire-card-header {
    display: flex;
    justify-content: space-between;

    nb-icon {
      align-self: flex-end;

      &:hover {
        transform: scale(1.3);
        cursor: pointer;
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .card-actions {
    margin-bottom: 10px;
    display: flex;
    justify-content: right;

    .card-action {
      &:hover {
        transform: scale(1.3);
        .icon {
          filter: brightness(50%);
        }
      }
      &:active {
        transform: scale(1);
      }

      .more-options {
        color: black;
      }

      .remove {
        color: red;
      }
    }
  }
}
