.question-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.likert-labels-outer-contaier {
  display: flex;
  justify-content: flex-end;
  .likert-labels-inner-contaier {
    display: flex;
    flex: 0.5;
    justify-content: space-between;
  }
}

.question-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}

.sup {
  margin: 0px 15px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

nb-radio {
  margin: 0px 15px;
  ::ng-deep {
    label {
      padding: 0px !important;
    }
    span {
      padding-left: 0px !important;
    }
  }
}

nb-icon {
  margin-left: 5px;
}
