<div [ngSwitch]="getQuestionType()" style="flex: 1;">
  <div *ngSwitchCase="'LIKERT'">
    <div class="likert-labels-outer-contaier">
      <div class="likert-labels-inner-contaier">
        <div class="likert-label">Sterk mee oneens</div>
        <div class="likert-label">Oneens</div>
        <div class="likert-label">Neutraal</div>
        <div class="likert-label">Eens</div>
        <div class="likert-label">Sterk mee eens</div>
      </div>
    </div>

    <div class="likert-answers-outer-container">
      <div class="likert-answers-question-container">
        <div>{{ question }}</div>
        <nb-icon *ngIf="information" [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
      </div>
      <nb-radio-group name="likert-group" [value]="answer" class="likert-answers-radio-buttons">
        <nb-radio class="radio-button" (click)="setAnswer('Sterk mee oneens')" value="Sterk mee oneens"></nb-radio>
        <nb-radio class="radio-button" (click)="setAnswer('Oneens')" value="Oneens"></nb-radio>
        <nb-radio class="radio-button" (click)="setAnswer('Neutraal')" value="Neutraal"></nb-radio>
        <nb-radio class="radio-button" (click)="setAnswer('Eens')" value="Eens"></nb-radio>
        <nb-radio class="radio-button" (click)="setAnswer('Sterk mee eens')" value="Sterk mee eens"></nb-radio>
      </nb-radio-group>
    </div>
  </div>

  <div *ngSwitchCase="'LIKERT_GROUP'" class="question">
    <div class="likert-labels-outer-contaier">
      <div class="likert-labels-inner-contaier">
        <div class="likert-label">Sterk mee oneens</div>
        <div class="likert-label">Oneens</div>
        <div class="likert-label">Neutraal</div>
        <div class="likert-label">Eens</div>
        <div class="likert-label">Sterk mee eens</div>
      </div>
    </div>

    <div *ngFor="let subQuestion of question; let i = index" class="likert-answers-outer-container">
      <div class="likert-answers-question-container">
        <div>{{ subQuestion.question }}</div>
        <nb-icon
          *ngIf="subQuestion.information"
          [nbTooltip]="subQuestion.information"
          nbTooltipStatus="primary"
          icon="info-outline"
        ></nb-icon>
      </div>
      <nb-radio-group
        [name]="'likert-group ' + i"
        [value]="subQuestion.answer"
        (input)="setAnswerGroup($event.target.value, i)"
        class="likert-answers-radio-buttons"
      >
        <nb-radio class="radio-button" value="Sterk mee oneens"></nb-radio>
        <nb-radio class="radio-button" value="Oneens"></nb-radio>
        <nb-radio class="radio-button" value="Neutraal"></nb-radio>
        <nb-radio class="radio-button" value="Eens"></nb-radio>
        <nb-radio class="radio-button" value="Sterk mee eens"></nb-radio>
      </nb-radio-group>
    </div>
  </div>

  <div *ngSwitchCase="'MULTIPLE_CHOICE'" class="question-column">
    <div class="question-container">
      {{ question }}
      <nb-icon *ngIf="information" [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <div style="display: flex; flex: 1; justify-content: space-between;">
      <nb-checkbox *ngFor="let option of options; let i = index" (checkedChange)="toggle($event, i)">{{
        option.name
      }}</nb-checkbox>
    </div>
  </div>

  <div *ngSwitchCase="'OPEN_TEXT'" class="question-column">
    <div class="question-container">
      {{ question }}
      <nb-icon *ngIf="information" [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <textarea [value]="answer" (input)="setAnswer($event.target.value)" nbInput placeholder=""></textarea>
  </div>

  <div *ngSwitchCase="'DROPDOWN'" class="question-column">
    <div class="question-container">
      {{ question }}
      <nb-icon *ngIf="information" [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <nb-select placeholder="" [(selected)]="answer">
      <nb-option *ngFor="let option of options" [value]="option.name" (click)="setAnswer(option.name)">
        {{ option.name }}
      </nb-option>
    </nb-select>
  </div>

  <div *ngSwitchCase="'NUMERICAL'" class="question-column">
    <div class="question-container">
      {{ question }}
      <nb-icon *ngIf="information" [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <input [value]="answer" (input)="setAnswer($event.target.value)" type="number" nbInput placeholder="" />
  </div>

  <div *ngSwitchCase="'RADIO'" class="question-column">
    <div class="question-container">
      {{ question }}
      <nb-icon *ngIf="information" [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <nb-radio-group [value]="answer" name="radio-group" style="display: flex; flex: 1;">
      <nb-radio
        style="padding-left: 10px;"
        *ngFor="let option of options"
        [value]="option.name"
        (click)="setAnswer(option.name)"
      >
        {{ option.name }}
      </nb-radio>
    </nb-radio-group>
  </div>
</div>
