<div [ngSwitch]="getQuestionType()" style="flex: 1;">
  <div *ngSwitchCase="'LIKERT'">
    <div class="likert-labels-outer-contaier">
      <div class="likert-labels-inner-contaier">
        <div class="sup">Sterk mee oneens</div>
        <div class="sup">Oneens</div>
        <div class="sup">Neutraal</div>
        <div class="sup">Eens</div>
        <div class="sup">Sterk mee eens</div>
      </div>
    </div>

    <div style="display: flex; padding: 15px 0px;">
      <div style="flex: 1; display: flex;">
        <div>{{ question }}</div>
        <nb-icon [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
      </div>
      <nb-radio-group
        name="likert-group"
        [value]="answer"
        style="display: flex; justify-content: space-between; flex: 1;"
      >
        <nb-radio class="radio-button" (click)="doThis('Sterk mee oneens')" value="Sterk mee oneens"></nb-radio>
        <nb-radio class="radio-button" (click)="doThis('Oneens')" value="Oneens"></nb-radio>
        <nb-radio class="radio-button" (click)="doThis('Neutraal')" value="Neutraal"></nb-radio>
        <nb-radio class="radio-button" (click)="doThis('Eens')" value="Eens"></nb-radio>
        <nb-radio class="radio-button" (click)="doThis('Sterk mee eens')" value="Sterk mee eens"></nb-radio>
      </nb-radio-group>
    </div>
  </div>

  <div *ngSwitchCase="'LIKERT_GROUP'" class="question">
    <div style="display: flex; justify-content: flex-end;">
      <div style="display: flex; flex: 0.5; justify-content: space-between;">
        <div class="sup">
          <p>Sterk mee oneens</p>
        </div>
        <div class="sup">
          <p>Oneens</p>
        </div>
        <div class="sup">
          <p>Neutraal</p>
        </div>
        <div class="sup">
          <p>Eens</p>
        </div>
        <div class="sup">
          <p>Sterk mee eens</p>
        </div>
      </div>
    </div>

    <div *ngFor="let subQuestion of question; let i = index" style="display: flex; padding: 15px 0px;">
      <div style="flex: 1; display: flex; justify-content: flex-start;">
        {{ subQuestion.question }}
      </div>
      <nb-radio-group
        [name]="'likert group ' + i"
        [value]="subQuestion.answer"
        (input)="doThisGroup($event.target.value, i)"
        style="display: flex; justify-content: space-between; flex: 1;"
      >
        <nb-radio class="radio-button" value="Sterk mee oneens"></nb-radio>
        <nb-radio class="radio-button" value="Oneens"></nb-radio>
        <nb-radio class="radio-button" value="Neutraal"></nb-radio>
        <nb-radio class="radio-button" value="Eens"></nb-radio>
        <nb-radio class="radio-button" value="Sterk mee eens"></nb-radio>
      </nb-radio-group>
    </div>
  </div>

  <div *ngSwitchCase="'MULTIPLE_CHOICE'" class="question-column">
    <div style="flex: 1; display: flex; justify-content: flex-start;">
      {{ question }}
      <nb-icon [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <div style="display: flex; flex: 1; justify-content: space-between;">
      <nb-checkbox *ngFor="let option of options; let i = index" (checkedChange)="toggle($event, i)">{{
        option.name
      }}</nb-checkbox>
    </div>
  </div>

  <div *ngSwitchCase="'OPEN_TEXT'" class="question-column">
    <div style="flex: 1; display: flex; justify-content: flex-start;">
      {{ question }}
      <nb-icon [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <textarea
      [value]="answer"
      (input)="doThis($event.target.value)"
      style="max-width: 100%; max-height: 200px; max-width: 400px;"
      nbInput
      placeholder=""
    ></textarea>
  </div>

  <div *ngSwitchCase="'DROPDOWN'" class="question-column">
    <div style="flex: 1; display: flex; justify-content: flex-start;">
      {{ question }}
      <nb-icon [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <nb-select placeholder="" [(selected)]="answer">
      <nb-option *ngFor="let option of options; let i = index" [value]="option.name" (click)="doThis(option.name)">{{
        option.name
      }}</nb-option>
    </nb-select>
  </div>

  <div *ngSwitchCase="'NUMERICAL'" class="question-column">
    <div style="flex: 1; display: flex; justify-content: flex-start;">
      {{ question }}
      <nb-icon [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <input [value]="answer" (input)="doThis($event.target.value)" type="number" nbInput placeholder="" />
  </div>

  <div *ngSwitchCase="'RADIO'" class="question-column">
    <div style="flex: 1; display: flex; justify-content: flex-start;">
      {{ question }}
      <nb-icon [nbTooltip]="information" nbTooltipStatus="primary" icon="info-outline"></nb-icon>
    </div>

    <nb-radio-group [value]="answer" name="radio-group" style="display: flex; flex: 1;">
      <nb-radio
        style="padding-left: 10px;"
        *ngFor="let option of options; let i = index"
        [value]="option.name"
        (click)="doThis(option.name)"
        >{{ option.name }}</nb-radio
      >
    </nb-radio-group>
  </div>
</div>
