@import '../../../@theme/styles/themes';

@include nb-install-component() {
  display: flex;
  flex-direction: row;

  .details {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;

    .title-container {
      display: flex;
      flex-direction: row;

      .title {
        text-decoration: none;
        margin: 0;
      }
    }

    .metadata {
      padding-right: 1rem;
    }
  }
}
