<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <app-user-profile [user]="user"></app-user-profile>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card class="card">
      <nb-card-header>Manage account</nb-card-header>
      <nb-card-body>
        <app-user-actions [id]="user.id"></app-user-actions>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Statistics</nb-card-header>
      <nb-card-body>
        <app-user-stats [id]="user.id"></app-user-stats>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
