<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Choem/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Choem" />
            <add key="ClearTextPassword" value="fcc6d80a06eb893bf5aa0a11c7b2067ae7c89e9e" />
        </github>
    </packageSourceCredentials>
</configuration>