.profile-picture {
  width: 100%;
  height: 100%;
  min-width: 150px;
  min-height: 150px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  margin: 0 auto;
}

.picture {
  display: flex;
  width: 100%;
}

.user-information {
  padding: 24px;
  text-align: center;
}

.profile-title {
  margin: 0;
  margin-bottom: 16px;
}

.name {
  font-weight: 600;
  font-size: large;
  margin: 0;
}

.age {
  font-weight: 300;
}

.email {
  font-size: small;
  margin: 0;
}
