<div class="questionnaire-overview-container">
  <div class="questionnaire-card-container">
    <app-questionnaire-card
      [questionnaire]="questionnaire"
      (removeQuestionnaireCallback)="removeQuestionnaire($event)"
      (renameQuestionnaireCallback)="renameQuestionnaire($event)"
      (duplicateQuestionnaireCallback)="duplicateQuestionnaire($event)"
      *ngFor="
        let questionnaire of questionnaires
          | async
          | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalQuestionnaires }
      "
    >
    </app-questionnaire-card>
  </div>

  <pagination-template class="questionnaire-overview-paginator" #p="paginationApi" (pageChange)="getPage($event)">
    <button nbButton status="primary" class="page-button" (click)="p.previous()">
      <nb-icon icon="arrow-left-outline"></nb-icon>
    </button>
    <ng-container *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
      <button
        nbButton
        status="primary"
        outline
        class="page-button"
        (click)="p.setCurrent(page.value)"
        *ngIf="p.getCurrent() !== page.value"
      >
        {{ page.value }}
      </button>
      <button
        nbButton
        status="primary"
        class="page-button"
        (click)="p.setCurrent(page.value)"
        *ngIf="p.getCurrent() === page.value"
      >
        {{ page.label }}
      </button>
    </ng-container>
    <button nbButton status="primary" class="page-button" (click)="p.next()">
      <nb-icon icon="arrow-right-outline"></nb-icon>
    </button>
  </pagination-template>
</div>
