<div class="questionnaire-overview-container">
  <div class="questionnaire-card-container">
    <app-questionnaire-card
      [questionnaire]="questionnaire"
      (removeQuestionnaireCallback)="removeQuestionnaire($event)"
      (renameQuestionnaireCallback)="renameQuestionnaire($event)"
      (duplicateQuestionnaireCallback)="duplicateQuestionnaire($event)"
      *ngFor="
        let questionnaire of questionnaires
          | async
          | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalQuestionnaires }
      "
    >
    </app-questionnaire-card>
  </div>

  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
</div>
