.likert-labels-outer-contaier {
    display: flex;
    justify-content: flex-end;
    .likert-labels-inner-contaier {
      display: flex;
      flex: 0.5;
      justify-content: space-between;
  
      .likert-label {
        margin: 0px 15px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
      }
    }
  }
  
  .likert-answers-outer-container {
    display: flex;
    padding: 15px 0px;
    .likert-answers-question-container {
      flex: 1;
      display: flex;
    }
  
    .likert-answers-radio-buttons {
      display: flex;
      justify-content: space-between;
      flex: 1;
  
      nb-radio {
        margin: 0px 15px;
        ::ng-deep {
          label {
            padding: 0px !important;
          }
          span {
            padding-left: 0px !important;
          }
        }
      }
    }
  }