<nb-list>
  <nb-list-item *ngFor="let question of getQuestions(questionnaire.currentQuestionnaireSectionId)">
    <div [ngSwitch]="getQuestionType(question)" style="flex: 1;">
      <app-likert
        *ngSwitchCase="'LIKERT'"
        [id]="question.id"
        [information]="question.information"
        [answer]="question.answer"
        [question]="question.question"
      >
      </app-likert>

      <app-likert-group
        *ngSwitchCase="'LIKERT_GROUP'"
        [id]="question.id"
        [information]="question.information"
        [answer]="question.answer"
        [question]="question.question"
        class="question"
      >
      </app-likert-group>

      <app-multiple-choice
        *ngSwitchCase="'MULTIPLE_CHOICE'"
        [id]="question.id"
        [information]="question.information"
        [answer]="question.answer"
        [question]="question.question"
        [options]="question.options"
        class="question-column"
      ></app-multiple-choice>

      <app-text
        *ngSwitchCase="'OPEN_TEXT'"
        [id]="question.id"
        [information]="question.information"
        [answer]="question.answer"
        [question]="question.question"
        class="question-column"
      ></app-text>

      <app-dropdown
        *ngSwitchCase="'DROPDOWN'"
        [id]="question.id"
        [information]="question.information"
        [answer]="question.answer"
        [question]="question.question"
        [options]="question.options"
        class="question-column"
      >
      </app-dropdown>

      <app-numeric
        *ngSwitchCase="'NUMERICAL'"
        [id]="question.id"
        [information]="question.information"
        [answer]="question.answer"
        [question]="question.question"
        class="question-column"
      ></app-numeric>

      <app-radio
        *ngSwitchCase="'RADIO'"
        [id]="question.id"
        [information]="question.information"
        [answer]="question.answer"
        [question]="question.question"
        [options]="question.options"
        class="question-column"
      >
      </app-radio>
    </div>
  </nb-list-item>
</nb-list>
