<form [formGroup]="questionForm">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col">
          <div class="form-control">
            <label class="label">Question</label>
            <input nbInput fullWidth formControlName="question" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-control">
            <label class="label">Question title</label>
            <nb-select formControlName="questionType">
              <nb-option value="multipleChoice">Multiple choice</nb-option>
              <nb-option value="checkboxes">Checkboxes</nb-option>
              <nb-option value="dropdown">Dropdown</nb-option>
              <nb-option value="uploadFile">Upload file</nb-option>
              <nb-option value="linearScale">Linear scale</nb-option>
              <nb-option value="multipleChoiceGrid">Multiple choice grid</nb-option>
              <nb-option value="tickBoxGrid">Tick box grid</nb-option>
              <nb-option value="date">Date</nb-option>
              <nb-option value="time">Time</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</form>
