<form [formGroup]="questionForm">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col">
          <div class="form-control">
            <label class="label">Question</label>
            <input nbInput fullWidth formControlName="question" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-control">
            <label class="label">Question type</label>
            <nb-select formControlName="questionType">
              <nb-option *ngFor="let questionType of questionTypes | enumToArray" [value]="questionType.name">
                {{ questionType.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <div [ngSwitch]="f.questionType.value">
        <app-choice-question
          *ngSwitchCase="questionTypes.Choice"
          [questionDataForm]="questionForm.controls.questionData"
        ></app-choice-question>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <nb-toggle [(checked)]="required" labelPosition="start">Required</nb-toggle>
    </nb-card-footer>
  </nb-card>
</form>
