<button
  *ngIf="!p.isFirstPage()"
  nbButton
  status="primary"
  class="page-button"
  id="page-button-previous"
  (click)="p.previous()"
>
  <nb-icon icon="arrow-left-outline"></nb-icon>
</button>
<ng-container *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
  <button
    nbButton
    status="primary"
    outline
    class="page-button page-button-page"
    (click)="p.setCurrent(page.value)"
    *ngIf="p.getCurrent() !== page.value"
  >
    {{ page.value }}
  </button>
  <button
    nbButton
    status="primary"
    class="page-button page-button-page"
    (click)="p.setCurrent(page.value)"
    *ngIf="p.getCurrent() === page.value"
  >
    {{ page.label }}
  </button>
</ng-container>
<button *ngIf="!p.isLastPage()" nbButton status="primary" class="page-button" id="page-button-next" (click)="p.next()">
  <nb-icon icon="arrow-right-outline"></nb-icon>
</button>
