.questionnaire-editor {
  width: 770px;
  margin: 0 auto;
}

.action-bar-root {
  position: relative;
  height: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.action-bar-positioner {
  transition: top 300ms ease-in-out;
  position: absolute;
  right: -62px;
}

textarea {
  max-width: 100%;
}
