<div>
  <div class="row">
    <p class="item key" title="Total number of researches you participate in">
      Researches #:
    </p>
    <p class="item value">10</p>
  </div>
  <div class="row">
    <p class="item key" title="Total number of datasources you gave consent to">
      Datasources #:
    </p>
    <p class="item value">33</p>
  </div>
  <div class="row">
    <p class="item key" title="Total amount of data stored">Data stored:</p>
    <p class="item value">3 MB</p>
  </div>
  <div class="row">
    <p
      class="item key"
      title="Total number of researches you participated in, that have finished"
    >
      Researches finished:
    </p>
    <p class="item value">6</p>
  </div>
  <div class="row">
    <p
      class="item key"
      title="Total number of researches you participate in, that are still active"
    >
      Active researches:
    </p>
    <p class="item value">4</p>
  </div>
</div>
