<mgl-timeline class="timeline">
  <mgl-timeline-entry class="entry" *ngFor="let item of items">
    <mgl-timeline-entry-header>{{ item.header }}</mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="entry-content">{{
      item.date.toLocaleString("nl")
    }}</mgl-timeline-entry-content>
    <mgl-timeline-entry-dot
      [size]="40"
      class="dot"
      [style.background-color]="item.color"
    ></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side>{{
      item.date.toLocaleDateString("nl")
    }}</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>
