<nb-card>
  <nb-card-header>Login op het Bied platform</nb-card-header>
  <nb-card-body class="login-wrapper">
    <nb-layout-column class="login-wrapper__column login-wrapper__information">
      <h1>Bied S66</h1>
      <h4>Big data voor Inzicht en EenzaamheiD</h4>
    </nb-layout-column>
    <nb-layout-column class="login-wrapper__column login-wrapper__inputs">
      <input type="text" nbInput placeholder="Gebruikersnaam" />
      <input type="text" nbInput placeholder="Wachtwoord" />

      <input type="submit" nbButton value="Log in" status="info" />
      <span class="caption-2 text-hint clickable">Login gegevens vergeten?</span>
    </nb-layout-column>
  </nb-card-body>
  <nb-card-footer>Door Fontys S66</nb-card-footer>
</nb-card>
