<nb-card class="action-bar">
  <button
    nbButton
    ghost
    (click)="createQuestionnaireService.addQuestion()"
    nbTooltip="Add question"
    nbTooltipPlacement="right"
  >
    <nb-icon icon="plus-circle-outline"></nb-icon>
  </button>
  <button
    nbButton
    ghost
    (click)="createQuestionnaireService.addQuestionGroup()"
    nbTooltip="Add question group"
    nbTooltipPlacement="right"
  >
    <nb-icon icon="layers-outline"></nb-icon>
  </button>
  <button
    nbButton
    id="save-questionnaire"
    ghost
    (click)="saveQuestionnaire.emit()"
    nbTooltip="Save questionnaire"
    nbTooltipPlacement="right"
  >
    <nb-icon icon="save-outline"></nb-icon>
  </button>
</nb-card>
