<div style="display: flex; justify-content: center; margin: 0px 400px;">
  <nb-card status="success" style="min-width: 800px;">
    <nb-card-body>
      <nb-stepper [selectedIndex]="currentStep" orientation="horizontal" disableStepNavigation>
        <nb-step [completed]="completedStep(0)" label="Introduction">
          <app-introduction-step></app-introduction-step>
          <nb-card-footer style="display: flex; justify-content: flex-end;"
            ><button nbButton status="basic" (click)="navigateToQuestions()">
              {{ questionnaire.startButtonText }}
            </button></nb-card-footer
          >
        </nb-step>
        <nb-step
          *ngFor="let questionSection of getQuestionSections(); let i = index"
          [completed]="completedStep(1 + i)"
          [label]="questionSection.title"
        >
          <app-questions-step></app-questions-step>
          <nb-card-footer style="display: flex; justify-content: space-between;">
            <button *ngIf="isFirstSection()" nbButton status="basic" (click)="navigateToIntroduction()">
              Terug naar introductie
            </button>
            <button *ngIf="!isFirstSection()" nbButton status="basic" (click)="previousQuestionSection()">
              Vorige</button
            ><button *ngIf="!isLastSection()" nbButton status="basic" (click)="nextQuestionSection()">
              Volgende
            </button>
            <button
              *ngIf="isLastSection()"
              nbButton
              [disabled]="!validateQuestionnaire()"
              status="basic"
              (click)="navigateToResults()"
            >
              Verder naar resultaten
            </button>
          </nb-card-footer>
        </nb-step>
        <nb-step label="results">
          <app-results-step></app-results-step>
          <nb-card-footer>
            <button nbButton status="basic" (click)="navigateToQuestions()">
              Vorige
            </button>
          </nb-card-footer>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</div>
