<nb-card accent="info">
  <nb-card-header class="header-layout">
    Datasources
    <button nbButton status="primary">Create</button>
  </nb-card-header>
</nb-card>

<div class="datasource-row datasource-heading">
  <p>Name</p>
  <p>Research</p>
  <p>Amount of records</p>
  <p>Created at</p>
  <p class="spacer-column">
    <!-- Spacer column -->
  </p>
</div>

<nb-card class="datasource-card">
  <nb-card-body class="datasource-row">
    <p>Twitter scraper #sad</p>
    <p>Twitter sadness</p>
    <p>42341</p>
    <p>4/20/20</p>
    <button nbButton status="danger">
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </nb-card-body>
</nb-card>
