<nb-card>
  <nb-card-header class="header">
    <h3>{{ consent.datasource.name }}</h3>
    <div class="switch">
      <nb-toggle
        (click)="switchConsentClicked()"
        [(checked)]="checked"
        status="success"
        id="toggle"
      ></nb-toggle>
    </div>
  </nb-card-header>
  <nb-card-body>
    <p id="description">{{ consent.datasource.description }}</p>
    <p id="status">
      Status:{{
        consent.consent
          ? " Consent given - " + consent.uts.toLocaleString("nl")
          : " Consent not given"
      }}
    </p>
    <p id="active">Datasource active: {{ consent.datasource.active }}</p>
  </nb-card-body>
</nb-card>
