<div>
  <p style="font-size: large; font-weight: 500;">Delete all consent</p>
  <p style="font-size: small;">
    This will delete all the consents you have given from all sources
  </p>
  <button
    (click)="open(confirmDeleteAllConsents)"
    style="margin-bottom: 8px;"
    nbButton
    status="danger"
  >
    Delete all consents
  </button>
</div>

<hr />

<ng-template
  #confirmDeleteAllConsents
  let-data
  let-ref="confirmDeleteAllConsentsRef"
>
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-footer>
      <button nbButton (click)="ref.log(true)">Confirm</button>
      <button nbButton (click)="ref.close(false)">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
