<div>
  <div>
    <p style="font-size: large; font-weight: 500;">Delete all consent</p>
    <p style="font-size: small;">
      This will delete all the consent you have given from all sources
    </p>
    <button
      (click)="deleteAllConsent()"
      style="margin-bottom: 8px;"
      nbButton
      status="danger"
    >
      Delete all consent
    </button>
  </div>

  <hr class="hr1" />

  <div>
    <p style="font-size: large; font-weight: 500;">Delete all data</p>
    <p style="font-size: small;">
      This will delete all the data that has been collected about you. This will
      also delete all consent.
    </p>
    <button
      (click)="deleteAllData()"
      style="margin-bottom: 8px;"
      nbButton
      status="danger"
    >
      Delete all data
    </button>
  </div>
</div>
